{% extends "base.html" %}
{% block title %}
<title>Workouts</title>
{% endblock %}

{% block main_content %}

<main>
    {% if session['workout_ids']|length != 0 %}
    <nav class="nav-item" id="confirmplan">
        <a href="{{ url_for('confirmworkout') }}">
            <b>Plan Your Week!</b>
        </a>
        {% endif %}
    </nav>
    <header>
        <h1 class="messages">Please select the exercises to include in your workout plan</h1>
    </header>
    <section>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.filters() }}
        </form>
    </section>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for catagory, message in messages %}
    <p class="sub-messages">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <section class="workout-container">
        {% for workout in workouts %}
        <div class="each-tile">
            <h2>{{ workout["name"] }}</h2>
            <strong>Muscle Group(s) Worked:</strong>
            <p>{{ workout["muscle_group_id"] }}.</p>
            <strong>Description</strong>
            <p>{{ workout["description"] }}</p>
            <p id="link"><a href="{{ url_for('addworkout', workout_id=workout['workout_id']) }}">Add to Selection</a>
            </p>
        </div>
        {% endfor %}
    </section>
</main>

{% endblock %}